doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title GENE BLOG
  // all.css
  link(rel='stylesheet' href='css/all.css')
header
  .logo
    a(href='index.html')
      h1 GENE BLOG
  nav
    a.menu_toggle(href='#')
      i.fas.fa-stream
    ul.menu_list
      li
        a(href='#about') ABOUT
      li
        a(href='#experience') EXPERIENCE
      li
        a(href='#skill') SKILL
      li
        a(href='#works') WORKS
      li
        a(href='#contact') CONTACT
main
  .banner
    .banner_content.wow.animate__animated.animate__fadeIn
      h2.banner_content_title
        | 專心致志，簡單生活
      p.banner_content_text
        | A SIMPLE DAY
  section#about.about.index_section
    .container
      h3.about_title.index_section_title
        span.tw
          | 關於我
        span.en ABOUT
      .about_content_wrap
        .row.align-items-center.flex-md-row-reverse
          .col-md-4
            .about_img.wow.animate__animated.animate__fadeIn
          .col-md-8
            h4.about_text_title.wow.animate__animated.animate__fadeInLeft(data-wow-duration='2s' data-wow-delay='0.5s')
              | Do or Do Not. There is no Try!
            p.about_text.wow.animate__animated.animate__fadeIn
              | 對我而言，人的一生只要專心做好一件事就足夠了！
              br
              | 畢業於淡江大學資管系，2018年因緣際會下透過朋友重新接觸了網頁前端技術，自學的過程中，更確定熱情之所在，開啟了我的前端之路。
              br
              | 秉持著職人的精神，成品上更加著重使用者體驗與程式碼的易維護性，並持續吸收前端新技術，培養獨立解決問題能力，立志成為善於團隊合作的一名前端工程師！
  section#experience.experience.index_section
    .container
      h3.experience_title.index_section_title
        span.tw
          | 我的經歷
        span.en EXPERIENCE
      ul.experience_list
        li.experience_item.wow.animate__animated.animate__fadeIn(data-wow-delay='0.5s')
          h4.experience_item_title
            | 云英智慧資訊科技股份有限公司 - 2021年 7 月 ～ 至今
          .experience_item_position 前端工程師
          ul
            li ．團隊技術指引
            li ．開發環境建置
            li ．定義並統一前端開發流程
            li ．導入前端自動化建構(如 gulp)
            li ．前端UI/UX設計構思
            li ．專案開發

        li.experience_item.wow.animate__animated.animate__fadeIn(data-wow-delay='0.8s')
          h4.experience_item_title
            | 易碩數位資訊 - 2019 年 3 月 - 2021 年 4月
          .experience_item_position 前端工程師
          ul
            li ．負責公司自行開發的電商平台維護
            li ．主導電商平台畫面設計大改版，改善程式碼品質
            li ．導入 SASS 及 Git 版本控制加速開發
            li ．優化電商後台功能與使用者體驗
            li ．專案切版製作、功能開發
        li.experience_item.wow.animate__animated.animate__fadeIn(data-wow-delay='1.1s')
          h4.experience_item_title
            | 仕農雷射 - 2018 年 3 月 - 2018 年 12 月
          .experience_item_position 排版人員
          ul
            li ．使用AutoCAD及雷射切割軟體
            li ．排版並製作切割程式供機台切割
            li ．熟悉白鐵黑鐵種類及性質

        li.experience_item.wow.animate__animated.animate__fadeIn(data-wow-delay='1.4s')
          h4.experience_item_title
            | 壹時代科技公司 - 2016 年 3 月 - 2016 年 9月
          .experience_item_position 短期打工
          ul
            li ．提高專案搜尋引擎關鍵字排名
            li ．網頁編輯製作
  section#skill.skill.index_section
    .container
      h3.skill_title.index_section_title
        span.tw
          | &#x4E3B;&#x8981;&#x6280;&#x80FD;
        span.en SKILL
      .skill_content_wrap.wow.animate__animated.animate__fadeIn
        .row
          .skill_col.col-lg-6
            .skill_item
              .row
                .col-12.col-md-3.skill_item_img
                  img.img-fluid(src='imgs/htmlcss.png' alt='')
                .col-12.col-md-9.skill_item_name
                  .skill_item_title
                    | HTML5 &amp; CSS3
                  ul.skill_item_brief
                    li
                      | &#x77AD;&#x89E3; HTML &#x8A9E;&#x610F;
                    li
                      | &#x53EF;&#x4F9D;&#x8A2D;&#x8A08;&#x7A3F;&#x4F7F;&#x7528; CSS &#x505A;&#x51FA;&#x7DB2;&#x9801;&#x6392;&#x7248;&#x8207; RWD &#x97FF;&#x61C9;&#x5F0F;&#x8A2D;&#x8A08;
                    li
                      | &#x53EF;&#x4F7F;&#x7528; CSS &#x505A;&#x51FA;&#x52D5;&#x756B;&#x6548;&#x679C;
          .skill_col.col-lg-6
            .skill_item
              .row
                .col-12.col-md-3.skill_item_img
                  img.img-fluid(src='imgs/js.png' alt='')
                .col-12.col-md-9.skill_item_name
                  .skill_item_title
                    | JavaScript &amp; ES6
                  ul.skill_item_brief
                    li
                      | &#x4E86;&#x89E3; ES6 &#x8A9E;&#x6CD5;&#xFF0C;&#x719F;&#x6089; DOM &#x64CD;&#x4F5C;
                    li
                      | &#x6703;&#x4F7F;&#x7528; &#x8;AJAX &#x6488;&#x53D6;&#x8CC7;&#x6599;
          .skill_col.col-lg-6
            .skill_item
              .row
                .col-12.col-md-3.skill_item_img
                  img.img-fluid(src='imgs/bs4.png' alt='')
                .col-12.col-md-9.skill_item_name
                  .skill_item_title
                    | Bootstrap
                  ul.skill_item_brief
                    li
                      | &#x4E86;&#x89E3; Boostrap Grid&#x3001;Components &#x53CA; Utilities &#x7684;&#x4F7F;&#x7528;
                    li
                      | &#x6703;&#x81EA;&#x884C;&#x4FEE;&#x6539; Boostrap SCSS
          .skill_col.col-lg-6
            .skill_item
              .row
                .col-12.col-md-3.skill_item_img
                  img.img-fluid(src='imgs/SCSS.png' alt='')
                .col-12.col-md-9.skill_item_name
                  .skill_item_title
                    | SASS
                  ul.skill_item_brief
                    li &#x4F7F;&#x7528; SASS &#x898F;&#x5283; Web layout &#x67B6;&#x69CB;
          .skill_col.col-lg-6
            .skill_item
              .row
                .col-12.col-md-3.skill_item_img
                  img.img-fluid(src='imgs/jq.png' alt='')
                .col-12.col-md-9.skill_item_name
                  .skill_item_title
                    | jQuery
                  ul.skill_item_brief
                    li
                      | &#x4F7F;&#x7528; jQuery &#x6DFB;&#x52A0;&#x4E92;&#x52D5;&#x6027;&#x6548;&#x679C;&#x3001;&#x5957;&#x7528; plugin &#x5728;&#x7DB2;&#x9801;&#x4E0A;
                    li
                      | &#x4F7F;&#x7528; AJAX &#x62C9;&#x53D6;&#x8CC7;&#x6599;
          .skill_col.col-lg-6
            .skill_item
              .row
                .col-12.col-md-3.skill_item_img
                  img.img-fluid(src='imgs/vue.png' alt='')
                .col-12.col-md-9.skill_item_name
                  .skill_item_title
                    | VueJS
                  ul.skill_item_brief
                    li
          .skill_col.col-lg-6
            .skill_item
              .row
                .col-12.col-md-3.skill_item_img
                  img.img-fluid(src='imgs/git.png' alt='')
                .col-12.col-md-9.skill_item_name
                  .skill_item_title
                    | Git/GitHub
                  ul.skill_item_brief
                    li
                      | &#x4F7F;&#x7528; GitHub Pages &#x5EFA;&#x7ACB;&#x975C;&#x614B;&#x7DB2;&#x9801;
                    li
                      | &#x4E86;&#x89E3;Git&#x7248;&#x672C;&#x63A7;&#x5236;&#x57FA;&#x790E;&#xFF0C;&#x80FD;&#x5920;&#x6293;&#x53D6;&#x9060;&#x7AEF;&#x6578;&#x64DA;&#x5EAB;&#x5230;&#x672C;&#x6A5F;&#x9032;&#x884C;&#x4F5C;&#x696D;&#x3001;&#x5275;&#x5EFA;&#x5206;&#x652F;&#x3001;&#x5408;&#x4F75;&#x5206;&#x652F;&#x8207;&#x63A8;&#x9001;&#x5230;&#x9060;&#x7AEF;&#x6578;&#x64DA;&#x5EAB;
  section#sideproject.works.index_section
    .container
      h3.sideproject_title.index_section_title
        span.tw
          | &#x500B;&#x4EBA;&#x4F5C;&#x54C1;
        span.en SIDE PROJECT
      // Slider main container
      .swiper-container
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          .swiper-slide
            a.works_item.works_item_8(href='https://genehuang331.github.io/kaohsiungTouristAttraction/' target='_blank' title='高雄旅遊資訊')
              .works_item_info
                .works_item_title
                  | AJAX - 高雄旅遊資訊
          //- .swiper-slide
          //-   a.works_item.works_item_11(href='https://genehuang331.github.io/vue---AQI/' target='_blank' title='全台空氣品質指標')
          //-     .works_item_info
          //-       .works_item_title
          //-         | Vue.js - 全台空氣品質指標
          .swiper-slide
            a.works_item.works_item_9(href='https://genehuang331.github.io/hexRestaurant/index.html' target='_blank' title='六角西餐廳')
              .works_item_info
                .works_item_title
                  | 切版 - 六角西餐廳
          .swiper-slide
            a.works_item.works_item_10(href='https://codepen.io/gzonehuang/full/qBBmRre' target='_blank' title='Todo List')
              .works_item_info
                .works_item_title
                  | Vue.js - Todo List
        // If we need navigation buttons
        .swiper-button-prev
        .swiper-button-next
  section#works.works.index_section
    .container
      h3.works_title.index_section_title
        span.tw
          | &#x53C3;&#x8207;&#x4F5C;&#x54C1;
        span.en WORKS
      // Slider main container
      .swiper-container
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          .swiper-slide
            a.works_item.works_item_1(href='https://www.fjallravenasia.com/' target='_blank' title='Fjällräven')
              .works_item_info
                .works_item_title
                  | Fj&auml;llr&auml;ven
          .swiper-slide
            a.works_item.works_item_7(href='https://www.173cake.com/' target='_blank' title='一之鄉')
              .works_item_info
                .works_item_title
                  | &#x4E00;&#x4E4B;&#x9109;
          .swiper-slide
            a.works_item.works_item_2(href='https://www.freshmackerel.com/' target='_blank' title='新合發鯖魚')
              .works_item_info
                .works_item_title
                  | &#x65B0;&#x5408;&#x767C;&#x9BD6;&#x9B5A;
          .swiper-slide
            a.works_item.works_item_3(href='https://www.linrg.com/' target='_blank' title='成就希望工程')
              .works_item_info
                .works_item_title
                  | &#x6210;&#x5C31;&#x5E0C;&#x671B;&#x5DE5;&#x7A0B;
          .swiper-slide
            a.works_item.works_item_4(href='https://www.ilovebaby.com.tw/' target='_blank' title='親子良品')
              .works_item_info
                .works_item_title
                  | &#x89AA;&#x5B50;&#x826F;&#x54C1;
          .swiper-slide
            a.works_item.works_item_5(href='https://www.tieronebricks.com/' target='_blank' title='一級專家')
              .works_item_info
                .works_item_title
                  | &#x4E00;&#x7D1A;&#x78DA;&#x5BB6;
          .swiper-slide
            a.works_item.works_item_6(href='https://www.aromahealer.net/' target='_blank' title='芳療家')
              .works_item_info
                .works_item_title
                  | &#x82B3;&#x7642;&#x5BB6;
        // If we need navigation buttons
        .swiper-button-prev
        .swiper-button-next
footer
  section#contact.contact.index_section
    .container
      h3.contact_title.index_section_title
        span.tw
          | &#x806F;&#x7D61;&#x6211;
        span.en CONTACT
      .contact_row
        .contact_info
          .mb-3
            | &#x806F;&#x7D61;&#x4FE1;&#x7BB1;:
            br
            a(href='mailto:tutor8110221510@gmail.com') tutor8110221510@gmail.com
          div
            | &#x806F;&#x7D61;&#x624B;&#x6A5F;:
            br
            a(href='tel:+886-988836367') 0988836367
        .contact_link
          .contact_social
            a(href='https://github.com/GeneHuang331' target='_blank' title='GitHub')
              i.fab.fa-github
            a(href='https://codepen.io/gzonehuang' target='_blank' title='CodePen')
              i.fab.fa-codepen
            a(href='https://hackmd.io/@gene-huang' target='_blank' title='HackMD')
              i.fas.fa-file-alt
          .contact_copyright
            | &copy; 2021 GENE
#loading_page
  img(src='imgs/loading.svg' alt='')
#to-top
  i.fas.fa-angle-up
// Font Awesome 5
script(src='https://kit.fontawesome.com/dc2eb8754c.js' crossorigin='anonymous')
//vendor.js
script(src="./javascripts/vendor.js")
// all.js
script(src='javascripts/all.js')
